<div th:fragment="payment" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container mt-4">
        <div class="card text-center" style="max-width: 600rem">
            <h6 class="card-header">Payment info</h6>
            <div class="card-body">
                <div class="row mt-2">
                    <div class="col">
                        <div class="card border-light mb-3" align="left"
                             style="max-width: 30rem;padding-right: 0px;padding-left: 0px; margin-left: 55px;">
                            <div class="card-header" align="center">Passenger data</div>
                            <div class="card-body text-dark">
                                <div class="card-body pt-1">
                                    <h6 class="card-title">Name</h6>
                                    <p class="card-text" th:text="${response.getPassengerDTO().getName()}"></p>
                                </div>
                                <div class="card-body pt-1">
                                    <h6 class="card-title">Surname</h6>
                                    <p class="card-text" th:text="${response.getPassengerDTO().getSurname()}"></p>
                                </div>
                                <div class="card-body pt-1">
                                    <h6 class="card-title">Document type</h6>
                                    <p class="card-text"
                                       th:text="${response.getPassengerDTO().getDocumentType().getType().getDisplayName()}"></p>
                                </div>
                                <div class="card-body pt-1">
                                    <h6 class="card-title">Document series</h6>
                                    <p class="card-text"
                                       th:text="${response.getPassengerDTO().getDocumentSeries()}"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card border-light mb-3" align="left"
                             style="max-width: 30rem;padding-right: 0px;padding-left: 0px; margin-left: 55px;">
                            <div class="card-header" align="center">Train data</div>
                            <div class="card-body text-dark">
                                <div class="card-body pt-1">
                                    <h6 class="card-title">Number</h6>
                                    <p class="card-text" th:text="${response.getTrainDTO().getNumber()}"></p>
                                </div>

                                <div class="card-body pt-1">
                                    <h6 class="card-title">Arrival point</h6>
                                    <p class="card-text" th:text="${response.getTrainDTO().getArrivalPlace()}"></p>
                                </div>

                                <div class="card-body pt-1">
                                    <h6 class="card-title">Departure date</h6>
                                    <p class="card-text" th:text="${response.getTrainDTO().getDepartureDateStr()}"></p>
                                </div>

                                <div class="card-body pt-1">
                                    <h6 class="card-title">Departure time</h6>
                                    <p class="card-text" th:text="${response.getTrainDTO().getDepartureTimeStr()}"></p>
                                </div>
                                <div class="card-body pt-1">
                                    <h6 class="card-title">Kilometers</h6>
                                    <p class="card-text" th:text="${response.getTrainDTO().getKilometers()}">
                                    </p>
                                </div>
                                <div class="card-body pt-1">
                                    <h6 class="card-title">Comfort type</h6>
                                    <p class="card-text"
                                       th:text="${response.getPricingDTO().getComfortDTO().getType()}">
                                    </p>
                                </div>
                                <div class="card-body pt-1">
                                    <h6 class="card-title">Price</h6>
                                    <p class="card-text" th:text="${response.getPricingDTO().getPrice() + ' BYN'}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <form th:method="GET"
                          th:action="@{/payment/passenger/__${response.getPassengerDTO().getId()}__/receipts}">
                        <button class="btn btn-outline-primary mb-3" type="submit">Open all receipts</button>
                    </form>
                </div>

                <div class="card-footer text-muted"> To deactivate the check call the administrator administrator at the
                    number 3377
                </div>
            </div>
        </div>
    </div>
</div>