<div th:fragment="payment" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container mt-4">
        <div class="card text-center" style="max-width: 600rem">
            <h6 class="card-header" th:text="#{user.payment.label.paymentInfo}"></h6>
            <div class="card-body">
                <div class="row mt-2">
                    <div class="col">
                            <div th:include="fragment/passengerCard.html::passengerCard"></div>
                    </div>

                    <div class="col">
                        <div th:include="fragment/trainCard.html::trainCard"></div>
                    </div>
                </div>

                <div class="row">
                    <form th:method="GET"
                          th:action="@{/payment/passenger/__${response.getPassengerDTO().getId()}__/receipts}">
                        <button class="btn btn-outline-primary mb-3" type="submit" th:text="#{user.payment.button.receipts}"></button>
                    </form>
                </div>

                <div class="card-footer text-muted" th:text="#{user.payment.label.deactivate}"></div>
            </div>
        </div>
    </div>
</div>