<div th:fragment="search" xmlns:th="http://www.w3.org/1999/xhtml">
    <form th:method="GET" th:action="@{/search/found}">
        <div class="container mt-5">
            <div class="row align-items-center">
                <div class="col">
                    <label for="arrival_place" class="form-label" th:text="#{user.search.label.arrival}"></label>
                    <input id="arrival_place" name="arrivalPlace" class="form-control" list="datalistOptions"
                           th:placeholder="#{user.search.placeholder.type}">

                    <datalist id="datalistOptions">
                        <div th:each="arrival: ${arrivalResponse.getTrainsArrivalPlaces()}">
                            <option th:value="${arrival}"></option>
                        </div>
                    </datalist>
                </div>

                <div class="col">
                    <label for="departure_date" class="form-label" th:text="#{user.search.label.date}"></label>
                    <input id="departure_date" name="departureDate" class="form-control me-2" type="date"
                           placeholder="Departure date" aria-label="Search">
                </div>

                <div class="col">
                    <label for="departure_time" class="form-label" th:text="#{user.search.label.time}"></label>
                    <input id="departure_time" name="departureTime" class="form-control me-2" type="time"
                           placeholder="Departure time" aria-label="Search">
                </div>

                <div class="col-sm-6 col-md-1">
                    <button class="btn btn-outline-primary mt-4" type="submit" th:text="#{user.search.button.find}"></button>
                </div>
            </div>
        </div>
    </form>
</div>