<div th:fragment="signIn">
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <div th:if="${registered}">
        <th:block th:text="#{user.signIn.label.successfullyRegistered}"/>
    </div>
    <form th:action="@{/login}" method="post">
        <div><label> User Name : <input type="text" name="username"/> </label></div>
        <div><label> Password: <input type="password" name="password"/> </label></div>
        <div><input type="submit" value="Sign In"/></div>
    </form>
    <a th:href="@{/user/signUp}">Add new account</a>
</div>

<div th:fragment="signUp">
    <div th:if="${response != null && response.isUserAlreadyExists()}">
        <th:block th:text="#{user.signUp.label.userAlreadyExists}"/>
    </div>
    <form th:action="@{/user/signUp}" method="post">
        <input id="username" name="username" type="text">
        <input id="password" name="password" type="text">
        <input type="submit" value="Sign Up"/>
    </form>
</div>