<!DOCTYPE html>
<html lang="en"xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<body>
<form th:method="POST" action="find">
    <h3>Let's find the right train</h3>
    <label for="arrival_place">Enter arrival place: </label>
    <input id="arrival_place" name="arrivalPlace" type="text"/><br>

    <label for="departure_time">Enter departure time: </label>
    <input id="departure_time" name="departureTime" type="text"/><br>

    <label for="departure_date">Enter departure date: </label>
    <input id="departure_date" name="departureDate" type="text"/><br>

    <input value="Find" type="submit"/>
</form>
</body>
</html>