<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Select train</title>
</head>
<body>
<form th:method="POST" action="find">
    <label for="arrival_place">Enter arrival place: </label>
    <input id="arrival_place" name="arrivalPlace" type="text"/><br>

    <label for="departure_time">Enter departure time: </label>
    <input id="departure_time" name="departureTime" type="text"/><br>

    <label for="departure_date">Enter departure date: </label>
    <input id="departure_date" name="departureDate" type="text"/><br>

    <input type="submit" value="Find"/>
</form>
<th:block th:if="${find}">
    <div th:each="train: ${train}">
        <p th:text="${train.toString()}"></p>
        <button>Choose</button>
    </div>
</th:block>
</body>
</html>