<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Train Station</title>
</head>
<body>
    <form th:method="POST" action="find">
        <h3>Let's find the right train</h3>
        <label for="arrival_place">Enter arrival place: </label>
        <input id="arrival_place" name="arrivalPlace" type="text"/><br>

        <label for="departure_time">Enter departure time: </label>
        <input id="departure_time" name="departureTime" type="text"/><br>

        <label for="departure_date">Enter departure date: </label>
        <input id="departure_date" name="departureDate" type="text"/><br>

        <input value="Find" type="submit"/>
    </form>

    <th:block th:if="${find}">
        <input hidden name="trains" th:value="${trains}"/>
        <h3>Here's what was found</h3>
        <div th:each="train: ${trains}">
            <form th:method="POST" th:action="@{match/__${trainIds}__/selected/__${train.getId()}__}">
            <p th:text="${train.toString()}"></p>
                <div th:each="id: ${trainIds}">
                    <input hidden name="trainIds" th:value="${id}"/>
                </div>
            <input hidden name="id" th:value="${train.getId()}">
            <input value="Choose" type="submit"/>
            </form>
        </div>
    </th:block>

    <th:block th:if="${choose}">
       <form th:method="POST" action="newPassenger">
           <h3>Registration of a check</h3>
           <input hidden th:field="${train.id}" th:value="${trainId}">
           <p th:text="${train.toString()}"></p>

           <label for="name">Enter name: </label>
           <input id="name" name="name" type="text"/><br>

           <label for="surname">Enter surname: </label>
           <input id="surname" name="surname" type="text"/><br>

           <label for="sex">Enter sex: </label>
           <input id="sex" name="sex" type="text"/><br>

           <label for="birth_date">Enter birth date: </label>
           <input id="birth_date" name="birthDate" type="text"/><br>

           <label for="document_type">Enter document type: </label>
           <input id="document_type" name="documentType" type="text"/><br>

           <label for="document_series">Enter document series: </label>
           <input id="document_series" name="documentSeries" type="text"/><br>

           <input type="submit" value="Create"/>

           <h3>Here's what was found</h3>
           <div th:each="train: ${trains}">
               <form th:method="POST" action="choose">
                   <p th:text="${train.toString()}"></p>
               </form>
           </div>
        </form>
    </th:block>

    <th:block th:if="${newPassenger}">
        <form th:method="POST" action="choose">
            <h3>Registration was successful</h3>
            <h4>Passenger: </h4>
            <p th:name="passenger" th:text="${passenger}"></p>
            <h4>Registered on train: </h4>
            <p th:name="train" th:text="${train.toString()}"></p>
        </form>
    </th:block>
</body>
</html>