<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Train Station</title>
</head>
<body>

<th:block th:if="${search}">
    <form th:method="GET" action="/search/found">
        <h3>Let's find the right train</h3>
        <label for="arrival_place">Enter arrival place: </label>
        <input id="arrival_place" name="arrivalPlace" type="text"/><br>

        <label for="departure_time">Enter departure time: </label>
        <input id="departure_time" name="departureTime" type="text"/><br>

        <label for="departure_date">Enter departure date: </label>
        <input id="departure_date" name="departureDate" type="text"/><br>

        <input value="Find" type="submit"/>
    </form>
</th:block>

<th:block th:if="${found}">
    <h3>Here's what was found</h3>
    <div th:each="train: ${response.getTrainDTOList()}">
        <form th:method="GET"
              th:action="@{/find/trains/__${response.getTrainsIds()}__/train/__${train.getId()}__/print}">
            <p th:text="${train.toString()}"></p>
            <input value="Choose" type="submit"/>
        </form>
    </div>
</th:block>

<th:block th:if="${registration}">
    <form th:method="POST" action="/create">
        <input hidden name="trainId" th:value="${response.getSelectTrainDTO().getId()}"/>
        <h3>Registration of a payment</h3>
        <p th:text="${response.getSelectTrainDTO().toString()}"></p>

        <label for="name">Enter name: </label>
        <input id="name" name="name" type="text"/><br>

        <label for="surname">Enter surname: </label>
        <input id="surname" name="surname" type="text"/><br>

        <label for="sex">Enter sex: </label>
        <input id="sex" name="sex" type="text"/><br>

        <label for="birth_date">Enter birth date: </label>
        <input id="birth_date" name="birthDate" type="text"/><br>

        <label for="document_type">Enter document type: </label>
        <input id="document_type" name="documentType" type="text"/><br>

        <label for="document_series">Enter document series: </label>
        <input id="document_series" name="documentSeries" type="text"/><br>

        <input type="submit" value="Create"/>

        <h3>Here's what was found</h3>
        <div th:each="train: ${response.getTrainDTOList()}">
            <form th:method="GET" action="choose">
                <p th:text="${train.toString()}"></p>
            </form>
        </div>
    </form>
</th:block>

<th:block th:if="${payment}">
    <form th:method="GET" action="/search">
        <h3>Registration was successful</h3>
        <h4>Passenger: </h4>
        <p th:text="${response.getPassenger().toString()}"></p>
        <h4>Registered on train: </h4>
        <p th:text="${response.getTrain().toString()}"></p>

        <input type="submit" value="Ok"/>
    </form>
</th:block>
</body>
</html>