<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Passenger</title>
</head>
<body>
  <form th:method="POST" th:action="@{/passenger}" th:object="${passenger}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/><br>

    <label for="surname">Enter surname: </label>
    <input type="text" th:field="*{surname}" id="surname"/><br>

    <label for="sex">Enter sex: </label>
    <input type="text" th:field="*{sex}" id="sex"/><br>

    <label for="birth_date">Enter birth date: </label>
    <input type="text" th:field="*{birthDate}" id="birth_date"/><br>

    <label for="document_type">Enter document type: </label>
    <input type="text" th:field="*{documentType}" id="document_type"/><br>

    <label for="document_series">Enter document series: </label>
    <input type="text" th:field="*{documentSeries}" id="document_series"/><br>

    <input type="submit" value="Create"/>
  </form>
</body>
</html>